#products {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#products #product-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 150px;
}

#products #product-images #carousel-container {
  width: 400px;
  height: 400px;
  overflow: hidden;
  border-radius: 50%;
  background-color: #F5F9EC;
  border: 15px solid #F5F9EC;
}

#products #product-images #carousel-container #img-carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 370px;
}

#products #product-images #prev-btn,
#products #product-images #next-btn {
  background-color: #F4F9FF;
  color: #00491E;
  border-radius: 50%;
  font-size: 120%;
  width: 50px;
  height: 50px;
  border: none;
  z-index: 100;
  position: relative;
}

#products #product-images #prev-btn:hover,
#products #product-images #next-btn:hover {
  background-color: white;
}

#products #product-images #prev-btn {
  left: 20px;
}

#products #product-images #next-btn {
  right: 20px;
}

#products #leaves-container {
  height: 70px;
}

#products #leaves-container .leaves {
  width: 170px;
  position: relative;
  bottom: 120px;
}

#products #leaves-container #leaves-right {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  margin: 0 0 0 200px;
}

#products #buttons-container {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#products #buttons-container #learn-btn {
  font-family: "Bebas Neue", cursive;
  border: 4px solid #00491E;
  width: 170px;
  height: 70px;
  background-color: #8DBF88;
  border-radius: 50px;
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#products #buttons-container #learn-btn:hover {
  background-color: #F5F9EC;
}

#products #buttons-container #shop-btn {
  font-family: "Bebas Neue", cursive;
  border: 4px solid #00491E;
  width: 170px;
  height: 70px;
  background-color: #F5F9EC;
  border-radius: 50px;
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#products #buttons-container #shop-btn:hover {
  background-color: #8DBF88;
}

#products #logo-full {
  width: 15%;
  margin-top: 50px;
}

#products #socials-container {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0 20px;
}

#products #socials-container .socials-btn {
  font-size: 200%;
  margin: 10px;
}

#copy-txt {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#copy-txt #lemon-img-wide {
  width: 100%;
  border-top: 10px solid white;
  border-left: 10px solid white;
  border-right: 10px solid white;
}

#copy-txt #txt-block-wide {
  width: 100%;
  height: 33.5vh;
  background-color: #00491E;
  color: #F4F9FF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 10px solid white;
}

#copy-txt #txt-block-wide h1 {
  font-size: 64px;
  font-family: "Bebas Neue", cursive;
  font-weight: 400;
  margin: 0;
  line-height: 0.6;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-left: 90px;
}

#copy-txt #txt-block-wide h2 {
  width: 90%;
  font-size: 72px;
  font-weight: 400;
  font-family: "Bebas Neue", cursive;
  text-align: center;
  border-bottom: 1px solid white;
}

#copy-txt #txt-block-wide p {
  width: 90%;
  margin: 10px 0;
}

#copy-txt #img-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border-bottom: 10px solid white;
  border-left: 10px solid white;
  border-right: 10px solid white;
}

#copy-txt #img-row .img-row-img {
  width: 33.3%;
}

* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #EBF2DC;
  font-family: "Work Sans", sans-serif;
  color: #00491E;
}

body a {
  text-decoration: none;
  color: inherit;
}
/*# sourceMappingURL=main.css.map */