@import "helpers/mixins";
@import "helpers/variables";
@import "products";
@import "copy";
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    background-color: $bg-clr;
    font-family: $body-font;
    color: $main-clr;
    a {
        text-decoration: none;
        color: inherit;
    }
}