@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

//Button-styles
// @mixin arrowBtn {
// }
// @mixin actionBtn {
// }
// @mixin socialBtn {
// }